@import url("../navigation/__link-item/navigation__link-item.css");
@import url("../navigation/__list-item/navigation__list-item.css");
@import url("../navigation/__list/navigation__list.css");

.navigation {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;

    background-color: rgb(25, 27, 29);
    color: white;
}

@media (max-width : 425px) {
    .navigation {
        font-size: 13px;
    }
}